* {
    margin: 0;
    box-sizing: border-box;
    /border: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #72A0C1;
    min-height: 100vh;
}

.calculator {
    width: 400px;
    height: 600px;
    border: 2px solid lightgoldenrodyellow;
    background-color: #B0C4DE;
    display: flex;
    flex-flow: row wrap-reverse;
}

button {
    height: 15%;
    width: 25%;
    font-size: 20px;
}

button.equals {
    height: 30%;
}


button:nth-of-type(2n+5), button:nth-of-type(4n+6) {
    margin-bottom: -90px;
}

.result {
    flex-basis: 100%;
    min-height: 100px;
    align-self: flex-end;
    margin-bottom: 50px;
    background-color: aliceblue;
    font-size: 36px;
    text-align: right;
    padding: 10px;
}